{% load static %}
<html lang='en'>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hirebits</title>
    <style>
        #pad{
            padding: 20px;
        }
    </style>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HireBits</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dash_page' %}">DashBoard </a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lea_page' %}">Learn </a>
      </li>

     </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'prob_page' %}">Project </a>
      </li>

      
            <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

    </ul>
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
      <a class="btn btn-outline-success" href="{% url 'logout_view' %}">Log out</a>
  </form>

          
  </div>
</nav>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div id=pad >    
        <h1 class="display-4">DashBoard</h1>
    </div>
</div>     
<div class="row justify-content-center">
      <div class="row">
        <div class="col-lg-2">
        <div id=pad>
        <div class="card" style="width: 25rem;" id="pad" >
        <img src="{% static 'Assets/Hire.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Saurav Jaiswal</h5>
          <p class="card-text">
          Hey there ! I'm an under-grad student from Sathyabama Institute of Science and Technology Chennai, India. I'm currently pursuing my 3rd year of Computer Science and Engineering.</p>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalScrollable">Read More</button>
          </div>
        </div></div>
        
        <div class="col-lg-3">
        <div id=pad>
        <div class="card" style="width: 25rem;" id="pad" >
        
        <div class="card-body">
          <h5 class="card-title">Contact Me</h5>
          <p class="card-text">
          <div class="ui relaxed divided list">
                  <div class="item">
                    <i class="call center icon"></i>
                    <div class="content">
                      <span>+91 9546852272</span>
                    </div>
                  </div>
                  <div class="item">
                    <i class="mail center icon"></i>
                    <div class="content">
                      <span>sauravjaiswal999@gmail.com</span>
                    </div>
                  </div>
                  <div class="item">
                    <i class="marker center icon"></i>
                    <div class="content">
                      <span>Chennai , India | Kolkata , India</span>
                    </div>
                  </div>
                </div></p>
         
          
        </div></div></div></div></div>
        
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>